/**
 $Id$
 @file
   CSS file for Amazon_store module
  */

/* Search Results Formatting */
#amazon-store-search-results {
	clear: both;
}


.search-results .form-item, #amazon-store-search-form .form-item  {
	float: left;
	margin: 5px;
}

#center form#amazon-store-search-form  {
  margin-bottom: 0;
}

.search-results .form-submit {
	clear: both;
}

.search-results span.offer-status {
	padding: 5px;
	margin: 2px;
	font-style: italic;
}

.search-results form fieldset {
	margin: 0;
	padding: 0;
}
.search-form-clear {
  clear: both;
}
.search-results p.title {
	font-size: large;
	font-weight: bold;
}
.search-results p.manufacturer {
	padding: 0;
	margin: 0;
}

.search-results .product-image {
	border: 1px solid gray;
	margin: 2px;
	padding: 2px;
}

.search-results .toggle {
	display: none;
	border: 2px solid gray;
	padding: 2px;
}

/* Item Page formatting */

.item-detail-wrapper .column {
  margin: 5px;
  border: 1px solid #0062A0;
  padding: 10px;
}

#item-details {
  float: left;
  width: 45%;
  height: 100%;
}
#right-column {
  float: right;
  width: 45%;
  height: 100%;
}
#bottom-section {
  clear: both;
}

.search-indexes-table td {
  vertical-align: top;
  line-height: 120%;
}
/* buttonize a link */

a.buttonize {
/* background: #9ECF22; */
  background:#14609F  repeat-x scroll 0 -70px;
  border:1px solid #424242;
  color: white !important;
  cursor:pointer;
  margin:0 .8em 0 0;
  padding:.2em .4em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-size:14px;
}

a.buttonize:hover {
  background:#555555 none repeat scroll 0 0;
  color:white;
}

