body {
  font-family: arial, helvetica, sans-serif; 
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #333;
}
p { 
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
h1 {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  font-weight: normal;
  font-size: 28px;
  color: #b6a9cd;
}
h1 span{
  font-weight: bold;
  color: #78d86c;
}
h1 a {
  color: inherit;
  text-decoration: none;
  text-indent: -9999px;
  display: block;
  width: 144px;
  height: 43px;
  background-image: url(/images/logo.gif);
}
h1.beta a {
  width: 185px;
  background-image: url(/images/logo_beta.gif);
}
h2 {
  font-size: 18px;
  margin: 15px 0;
}
h3 {
  color: #090;
  margin: 10px 0;
  font-size: 16px;
}
h4 {
  padding: 0;
  margin: 10px;
}
h5 {
  font-weight: bold;
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
p a, td a{
  color: #004080;
}
p a:hover, td a:hover {
  color: #004080;
  text-decoration: none;
}
form {
  padding: 0;
  margin: 0;
}
img {
  border: none;
}
.notice {
  border: 1px solid red;
  padding: 1ex;
}

/* COMMON SITE RULES -------------------------------------- */
a.bluelink {
  color: #009;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
a.bluelink:hover {
  text-decoration: underline;
}
span.greenarrow{
  font-size: 15px;
  color: #1fa51f;
  font-weight: bold;
}
span.arrow{
  font-size: 15px;
  font-weight: bold;
}
div.greyrule {
  border-bottom: 1px solid #ccc;
  margin: 0;
}
div.greenrule {
  border-bottom: 1px solid #090;
  margin: 0;
}
div.greyrule_clear {
  clear: both;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
p.smalltext {
  font-size: 11px;
}
tr.greyrow td{
  background-color: #efefef;
}
.right_align{
  text-align: right;
}
.left_align{
  text-align: left;
}
a.greenlink {
  color: #090;
}
h4.small_grey{
  padding: 0;
  margin: 0px;
  color: #666666;
  font-size: 12px;
  margin-left: 10px;
}

/* BEGIN HEADER RULES ------------------------------------- */
div#header {
  background: #2e0366 url(/images/head_bk.jpg);
  height: 66px;
  border-bottom: 2px solid #c7c9bc;
  color: #FFF;
}
div#header a:hover {
  text-decoration: underline;
}
div#header h1 a:hover {
  text-decoration: none;
}
div#headcontents {
  width: 765px;
  margin: 0 auto;
  text-align: left;
  position: relative; 
}
table#mainnav {
  position: absolute; 
  top: 36px;
  left: 210px;
  border-collapse: collapse;
}
table#mainnav td{
  vertical-align: top;
  height: 28px;
  font-size: 13px;
}
td.navtab_off{
  padding: 7px 10px 5px 10px;
  color: #fff;
  text-decoration: none;
  voice-family: "\"}\""; /* box model hack */
  voice-family:inherit;
  height: 18px;
}
td.navtab_off a, table#cartnav a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
td.navtab_on {
  background: transparent url(/images/shop_bu_left.gif) top left no-repeat;
  padding-left: 13px;
}
td.navtab_on a{
  background: transparent url(/images/shop_bu_right.gif) top right no-repeat;
  display: block;
  padding: 7px 13px 5px 0px;
  color: #309;
  height: 32px;
  font-weight: bold;
  text-decoration: none;
  voice-family: "\"}\""; /* box model hack */
  voice-family:inherit;
  height: 20px;
}
td#navblank {
  width: 240px;
}
td#my_values_tab_off div{
  background: transparent url(/images/values_bu_left.gif) top left no-repeat;
  padding-left: 14px;
}
td#my_values_tab_off a{
  background: transparent url(/images/values_bu_right.gif) top right no-repeat;
  display: block;
  height: 30px;
  padding: 7px 14px 5px 0px;
  color: #008b00;
  font-weight: bold;
  text-decoration: none;
  voice-family: "\"}\""; /* box model hack */
  voice-family:inherit;
  height: 18px;
}
table#cartnav {
  position: absolute; 
  top: 10px;
  right: 0;
  left: 535px;
  text-transform: uppercase;
  font-size: 10px;
}
table#cartnav td{
  padding: 0 10px;
  background: url(../images/cartnav_sep.gif) right no-repeat;
}
table#cartnav td.cart_no_bg{
  background: none;
  padding-right: 0;
}
div#subnavwrap {
  background: #efefef;
  border-bottom: 1px solid #cecece;
  height: 30px;
}
div#subnav {
  font-size: 13px;
  width: 765px;
  height: 26px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
div#subnav div#subnav_home {
  padding-top: 5px;
  text-align: center;
}
div#subnav,
a.subnavlink{
  color: #545454;
}
div#subnav a.signin:hover,
div#subnav a.subnavlink:hover {
  text-decoration: none;
}
.signinarrow {
  color: #0e6cce;
}
a.signin {
  color: #009;
  margin-right: 1em;
}

/* END HEADER STYLES -------------------------------------------- */
div#mainContainer {
  width: 765px;
  margin: 0 auto;
  text-align: left;
}
table#searchbar {
  margin: 10px 0;
  background-color: #FFF;
  height: 26px;
  width: 765px;
} 
table#searchbar td{
  font-size: 13px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
table#searchbar a {
  text-decoration: none;
}
table#searchbar a:hover {
  text-decoration: underline;
}
td#searchdrop {
  font-weight: bold;
  white-space: nowrap;
}
#searchdrop label {
  text-transform: uppercase;
  color: #309;
}
td#searchbox{
  padding: 0;
  text-align: right;
}
td#searchbox input {
  height: 15px;
  font-size: 12px;
  border: 1px solid #999;
  margin: 0 5px;
  width: 240px;
}
td#searchbutton{
}
td#searchbutton input {
  margin-top: 4px;
}
td#searchvalues{
}
td.searchvalues img {
  margin-top: 3px;
  margin-left: 1ex;
}
td#searchlearn {
  padding: 0;
  text-align: right;
}
td#searchlearn a{
  text-decoration: underline;
  font-size: 76%;
}
td#searchlearn a:hover {
  text-decoration: none;
}
div#breadcrumbs {
  background: url(/images/crumbsbg.gif) repeat-x;
  color: #06c;
  height: 30px;
  padding-top: 5px;
  padding-left: 20px;
  voice-family: "\"}\""; /* box model hack */
  voice-family:inherit;
  height: 25px;
}
div#breadcrumbs a{
  color: #666666;
}
div#breadcrumbs a:hover {
  text-decoration: none;
}
div#breadcrumbs span{
  color: #009;
}

/* COLUMN STYLES ----------------------------------------------- */
/* left column ----------------------------------- */
div#left_column {
  width: 180px;
  float: left;
  margin-bottom: 40px;
  font-size: 12px;
}
div#left_column h4{
  background: #efefef;
  color: #666666;
  padding: 5px 10px 5px 12px;
  margin: 10px 5px 5px 5px;
  font-size: 12px;
}
div#left_column ul#similar_itemlist{
  list-style: none;
  color: #009;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
ul#similar_itemlist a{
  color: #009;
  text-decoration: none;
}
ul#similar_itemlist a:hover {
  text-decoration: underline;
}
div#left_column li{
  padding-bottom: 5px;
}
div#left_column li.current {
  color: #666;
}
div#left_column p{
  padding-left: 17px;
  margin: 0 10px 10px 0;
  font-size: 12px;
}
div#mid_right_column_wrap { /* in two column designs, this becomes the 'right' column */
  margin-left: 210px;
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 14px;
}
div#mid_right_column_wrap p { /* in two column designs, this becomes the 'right' column */
  margin-left: 10px;
}
div#mid_right_column_wrap h3 {
  margin: 10px 0;
  background: #efefef;
  padding: 5px 10px;
  font-size: 14px;
  color: #000;
}
img.amazon_review {
  position: relative;
  bottom: -10px;
}
div#left_column h4 {
  display: block;
  margin: 6px;
  padding: 0;
}
div#left_column h4 span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
h4 span.corner_hack_tl {
  background-image: url(/images/l_nav_head_tl.gif);
  background-position: top left;
}
h4 span.corner_hack_tr {
  background-image: url(/images/l_nav_head_tr.gif);
  background-position: top right;
}
h4 span.corner_hack_br {
  background-image: url(/images/l_nav_head_br.gif);
  background-position: bottom right;
}
h4 span.corner_hack_bl {
  background-image: url(/images/l_nav_head_bl.gif);
  background-position: bottom left;
  padding: 6px;
}
.browse_arrow {
  color: #06c;
}
.customer_review {
  padding-bottom: 1em;
}
/* middle column ----------------------------------- */
div#middle_column { /* three column designs only */
  width: 315px;
  float: left; 
  padding-right: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}
/* right column ----------------------------------- */
div#right_column { /* three column designs only */
  margin-left: 335px;
  width: 210px;
  font-size: 12px;
}

/* BOTTOM NAV --------------------------------------------- */
hr {
  border: none;
  background-color: #e8e8e8;
  padding: 0;
  margin: 3px 0;
  height: 2px;
  width: 100%:
}
hr.bottom {
  clear: both;
}
div#bottomnav {
  background: #efefef;
  padding: 10px;
  margin-bottom:10px;
  font-size: 11px;
  clear: both;
  color: #3b3bae;
}
div#bottomnav a{
  color: #03c;
  text-decoration: none;
  font-weight: 550;
}
div#bottomnav a:hover {
  text-decoration: underline;
}

/* FOOTER STYLES ----------------------------------------------------------- */
div#footer {
  color: #666666;
  text-align: right;
}
div#footer p {
  width: 765px;
  margin: 5px auto;
  font-size: 11px;
}
div#footer a {
  color: #ccc;
}
div#footer a:hover {
  color: #ccc;
  text-decoration: none;
}

/* PRODUCT PAGE STYLES ------------------------------------------ */
div#product_summary {
  clear: both;
}
div#summary_left_column {
  width: 200px;
  float: left;
  margin-bottom: 20px;
  font-size: 12px;
}
div#summary_left_column img{
  display: block;
}
div#summary_left_column a{
  text-decoration: none;
  color: #666666;
}
div#summary_left_column div#viewlarger{
  padding-left: 15px;
  padding-top: 20px;
}
div#summary_left_column div#viewlarger p {
  margin: 4px 0;
}
div#summary_left_column div#viewlarger p img {
  display: inline;
  margin-right: 2px;
  vertical-align: bottom;
}
div#summary_left_column div#viewlarger p a:link,
div#summary_left_column div#viewlarger p a:visited {
  text-decoration: underline;
  color: #333;
}
div#summary_left_column div#viewlarger p a:hover {
  text-decoration: none;
}
div#summary_left_column a:hover {
  text-decoration: underline;
}
div#summary_left_column img{
  text-decoration: underline;
}
div#summary_mid_rt_column_wrap { /* in two column designs, this becomes the 'right' column */
  margin-left: 210px;
  margin-bottom: 20px;
}
div#summary_middle_column { /* three column designs only */
  width: 270px;
  margin-bottom: 20px;
  float: left;
}
div#summary_middle_column img {
  display:block;
  margin: 10px 0;
}
div#summary_middle_column h2 {
  margin-top: 0;
}
input.product_quantity{
  padding: 0;
  width: 15px;
  height: 15px;
}
div#summary_right_column { /* three column designs only */
  float: left;
  width: 280px;
  color: #666666;
  font-size: 12px;
}
div#summary_right_column a, td#summary_container a{ /* summary container is used on the home pg. */
  color: #666666;
}
div#summary_right_column a:hover, td#summary_container a:hover {
  text-decoration: none;
}
div#summary_right_column h3, td#summary_container h3 {
  margin: 10px 0 0 0;
  padding: 0;
  color: #666666;
  font-size: 16px;
  background: none;
}
td#summary_container h3 {
  margin: 0 0 0 0;
}
div#summary_right_column h3 {
  color: #333;
  padding-left: 12px;
}
div#summary_right_column h4, td#summary_container h4{
  color: #000;
  font-size: 12px;
  margin: 10px 0 10px 3px;
}
div#summary_right_column h4 img, td#summary_container h4 img{
  padding-left: 10px;
}
table#ratings_summary{
  width: 100%;
  padding-bottom: 5px;
}
table#ratings_summary th{
  vertical-align: top;
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 3px;
}
table#ratings_summary th#more_details{
  text-align: right;
}
table#ratings_summary th a{
  color: #009;
  text-transform: none;
  font-weight: normal;
}
table#ratings_summary span {
  display: block;
  border-bottom: 2px solid #e8e8e8;
  padding-left: 7px;
}
table#ratings_summary th a:hover {
  text-decoration: none;
}
table#ratings_summary td{
  color: #555;
  padding: 4px 7px;
  font-size: 12px;
  font-weight: bold;
}
div.rating_box {
  background-image: url(/images/rating_bk_ul.gif);
  background-repeat: no-repeat;
  background-position: top left;
  margin-top: 1em;
}
div.rating_box .corner_hack_ur {
  background-image: url(/images/rating_bk_ur.gif);
  background-repeat: no-repeat;
  background-position: top right;
}
div.rating_box .corner_hack_bl {
  background-image: url(/images/rating_bk_bl.gif);
  background-repeat: no-repeat;
  background-position: bottom left;
}
div.rating_box .corner_hack_br {
  background-image: url(/images/rating_bk_br.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 7px 12px 7px 7px;
}
td#summary_container div.rating_box h4,
div#summary_right_column div.rating_box h4 {
  margin-top: 0;
  padding-top: 0;
  color: #090;
  padding-left: 3px;
}
div#summary_right_column div.greyrule, td#summary_container div.greyrule{
  margin-bottom: 15px;
  clear: none;
}
div#summary_right_column img.more_detail,
div#summary_right_column img#reset_my_values {
  padding: 4px 0px 6px 0px;
}
div#summary_right_column img.more_detail {
  float: left;
}
div#summary_right_column img#reset_my_values {
  float: right;
}
a#whats_this{
  margin-left: 60px;
}
div#left_column div.box {
  padding: 0;
  margin: 0;
  margin-top: 1ex;
  margin-bottom: 1em;
  background-image: url(/images/l_nav_box_top.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 10px;
}
div#left_column div.box div.corner_hack_tr {
  padding: 0;
  margin: 0;
  border: 1px solid #cecece;
  border-top: none;
}
div#left_column div.box h4 {
  margin-top: 0; 
}
div#left_column div.box .greyrule {
  margin: 0 1em;
}
div.similar_item {
  padding: 10px 14px;
  color: #333;
}
div.similar_item a {
  font-weight: normal;
  color: #009;
  display: block;
  text-decoration: none;
}
div.similar_item a:hover {
  text-decoration: underline;
}
ul.featurelist {
  padding: 0;
  margin: 0;
  padding-left: 25px;
}
ul.featurelist li{
  padding-bottom: 10px;
}
div#more_reviews {
  padding-top: 10px;
  color: #009;
  padding-left: 10px;
}
div#more_reviews a{
  color: #009;
  text-decoration: none;
  font-weight: bold;
}
div#more_reviews a:hover {
  text-decoration: underline;
}

/* COMPANY PAGE STYLES ---------------------------------------- */
table#company_summary {
  margin-bottom: 20px;
}
td#featured_stats, td#summary_container {
  vertical-align: top;
  padding-top: 12px;
  font-size: 12px;
}
div#home_page td#summary_container { /* darn inappropriate id re-use... */
  padding-top: 0;
}
table#company_summary td#summary_container {
  width: 260px;
  color: #666666;
  font-size: 12px;
}
td#summary_container img.reset_my_values {
  padding-top: 10px;
}
table#company_summary td#featured_stats {
  width: 260px;
  padding-right: 20px;
}
td#featured_stats h2{
  font-size: 16px;
  margin: 0 0 10px 10px;
}
td#featured_stats h4{
  margin: 0 0 5px 10px;
}
div#left_column_product_descrip {
  font-size:10px;
  font-weight: bold;
  margin: 15px 10px 30px 16px;
}
div#left_column_product_descrip img{
  display: block;
  margin-bottom: 10px;
}
table.my_value {
  height: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 1ex;
  margin-left: 1ex;
  margin-bottom: 4px;
}
strong.important{
  color: #c60;
}
strong.very_important{
  color: #c00;
}
strong.less_important{
  color: #690;
}
strong.neutral{
  color: #369;
}
td.value_title{
  width: 190px;
  padding-left: 10px;
}
td.change_value{
  width: 225px;
  padding-right: 10px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
}
td.reset_button{
  width: 115px;
}
table.values_itemized {
  width: 100%;
  font-size: 12px;
  margin-bottom:5px;
}
table.values_itemized th {
  font-size: 11px;
  font-weight: normal;
  color: #666;
  text-transform: uppercase;
  padding: 1ex;
  border-bottom: 1px solid #cecece;
}
th.value_name, 
td.value_name {
  text-align: left;
}
th.company_data,
td.company_data {
  text-align: center;
}
th.value_degree,
td.value_degree {
  text-align: left;
}
th.company_rating,
td.company_rating {
  text-align: center;
}
td.value_name {
  border-right: 1px solid #cecece;
}
td.company_data {
  border-right: 1px solid #cecece;
}
td.value_degree {
}
table.values_itemized {
  border-bottom: 1px solid #cecece;
}
table.values_itemized td{
  padding: 3px 10px;
}
div.arena_rating div.round_box_hack_bl {
  padding: 1ex;
}
div#arena_ratings div.arena_rating h3 {
  float: left;
  color: #000;
  background-color: transparent;
  font-size: 117%;
  line-height: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}
div.arena_rating h4 {
  float: right;
  color: #666;
  line-height: 1.75em;
  font-size: 100%;
}
div.arena_rating table.values_itemized {
  clear: right;
}
tr.greyrow td.value_name {
  background-color: #eaf4fd;
}

/* HOME PG STYLES -------------------------------- */
div#home_page div#left_column {
  padding-top: 1em;
}
div#home_page div#left_column div.round_box_hack_tr {
  padding-top: 2px;
}
div#home_page div.learn_more {
  background: #ecf3f9;
}
div#home_page td#summary_container div.greyrule {
  margin-bottom: 3px;
}
div#home_page div.sponsors {
  text-align: center;
}
div#home_page div.sponsors img {
  vertical-align: middle;
  margin: 2px;
}
table#homepg_top {
  margin-bottom: 0;
}
table#homepg_top h2{
  font-size: 13px;
}
table#homepg_top h3{
  font-size: 13px;
}
td#featured_stats {
  width: 300px;
  color: #666666;
}
td#summary_container {
  width: 240px;
  color: #666666;
  font-size: 12px;
  padding-left: 15px;
}
div#home_page td#summary_container div.round_box_hack_bl {
  padding: 1px 10px;
}
td#summary_container h3 {
  margin-top: 0;
  color: #186c88;
  padding: 1ex 0;
  font-weight: normal;
  font-size: 117%;
}
td#summary_container a {
  color: #009;
  text-decoration: none;
}
td#summary_container a:hover {
  text-decoration: underline;
}
td#summary_container div#see_all_companies {
  color: #666666;
  font-size: 12px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 1ex;
}
div#detail_browse span.arrow,
td#summary_container div#see_all_companies span.arrow {
  color: #0e6cce;
}
td#summary_container p.smalltext{
  margin-left: 0;
}
div#home_page td#summary_container div.learn_more div.round_box_hack_bl {
  padding: 10px;
}
div#detail_browse img {
  margin-left: 10px;
  margin-bottom: 10px;
}
div#detail_browse h3{
  background: none;
  font-size: 16px;
  color: #076cb0;
  margin-bottom: 0;
}
div#detail_browse table{
  margin: 1em;
  width: 550px;
  font-size: 12px;
  font-weight: bold;
}
div#detail_browse td{
  vertical-align: top;
  width: 180px;
}
div#detail_browse ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
div#detail_browse a {
  text-decoration: none;
}
div#detail_browse a:hover {
  text-decoration: underline;
}
div#detail_browse li {
  margin-bottom: 0.5ex;
}
div#detail_browse li.see_all a{
  color: #090;
}
div#home_articles {
  padding-right: 300px;
}
div#home_articles h4{
  margin-bottom: 0;
  font-size: 12px;
}
div#home_articles p{
  font-size: 12px;
}
div#sponsor_ads {
  float: right;
  border-left: #e9e9e9 1px solid;
  margin-top: 10px;
  padding-left: 10px;
}
/* MY VALUES STYLES ------------------------------------------------- */
div.update_bar {
  margin: 10px 0;
  background: #efefef;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  position: relative;
  height: 14px;
}
div.update_bar div{
  color: #666;
  font-weight: normal;
  font-size: 11px;
  padding: 3px 3px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 14px;
}
input.update_button {
  vertical-align: middle;
}
div.set_value_container {
  margin-bottom: 10px;
}
div.set_value_container table {
  width: 100%;
  border-spacing: 1px;
}
div.set_value_container th,
div.set_value_container td {
  padding: 1ex 1em;
}
div.set_value_container th {
  border-bottom: 1px solid #cecece;
  vertical-align: bottom;
  font-size: 11px;
}
div.set_value_container table.set_values {
  border-bottom: 1px solid #cecece;
}
div.set_value_container th.label {
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
}
div.set_value_container th.very_important {
  color: #c00;
}
div.set_value_container th.important {
  color: #c60;
}
div.set_value_container th.less_important {
  color: #690;
}
div.set_value_container th.neutral {
  color: #369;
}
div.set_value_container td {
  border-color: #ccc;
}
div.set_value_container tr.greyrow td.label {
  background-color: #eaf4fd;
}
div.set_value_container td.selected {
  background-color: #ddf8cd;
}
div.set_value_container td.very_important,
div.set_value_container td.important,
div.set_value_container td.less_important,
div.set_value_container td.neutral {
  border-left: 1px solid #cecece;
}
div.set_value_container th.weight,
div.set_value_container td.weight {
  text-align: center;
}
div.set_value_container th.update_bar {
  background-color: #fff;
  color: #000;
  padding: 0;
}
div#mid_right_column_wrap div.set_value_container div.arena_set_values h3 {
  color: #000;
  background-color: transparent;
  font-size: 117%;
  line-height: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
}
table.set_value {
  width: 398px;
  border: 1px solid #9c6;
  float: left;
  margin-right: 5px;
}
table.set_value th, table.current_value th {
  padding: 5px;
  height: 20px;
}
table.set_value th {
  background: #ddf8cc;
  color: #090;
  text-align: left;
  font-size: 14px;
}
table.set_value td, table.current_value td{
  font-size: 12px;
  height: 30px;
}
table.current_value {
  width: 148px;
  border: 1px solid #9c6;
}
table.current_value th {
  background: #efefef;
  color: #666666;
  text-align: center;
  font-size: 12px;
}
table.current_value td{
  text-align: center;
}
table.set_value td.last_cell {
  padding-right: 20px;
}
td.radio_button {
  padding-left: 3px;
  padding-bottom: 1px;
}
div#about_values_ratings h5 {
  color: #666;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 1em;
}
div#ratings_in_action {
  float: left;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 11px;
}
div#ratings_in_action p{
  margin: 0;
  margin-top: 10px;
}

/* ADD TO CART STYLES ----------------------------------------------- */
div#left_column img.continue_shopping {
  margin-top: 20px;
  margin-left: 10px;
}
/* middle column styles ------------------------------- */
div#middle_column_cart{
  width: 270px;
  float: left; 
  padding-right: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}
div#middle_column_cart h3{
  margin-top: 20px;
}
div.cart_item_added {
  font-size: 11px;
  margin-bottom: 10px;
  background: #fff;
}
strong.company_name {
  display: block;
  margin: 5px 0;
}
div.cart_item_added table{
  font-size: 11px;
  margin-bottom: 10px;
}
td.similar_item_img {
  width: 100px;
}
div.cart_item_added h4 {
  color: #090;
  font-size: 12px;
  margin: 10px 0 5px 0;
}
img.add_to_cart {
  display: block;
  margin-top: 10px;
}
a.product_name {
  color: #009;
  display: block;
}
div.cart_item_added a:hover {
  text-decoration: none;
}
a.add_cart_values_rating{
  color: #090;
}
img.add_cart_values_img{
  margin-left: 5px;
  vertical-align: middle;
}
/* right column styles -------------------------------- */
div#right_column_cart {
  margin-left: 290px;
  width: 262px;
  font-size: 12px;
}
div#your_shopping_column {
  background: #ebf4fa;
  padding: 0;
}
div#your_shopping_column div.round_box_hack_bl {
  padding: 1px 20px 20px 20px;
}
div#your_shopping_column div.greyrule{
  margin: 10px 0;
}
div#your_shopping_column h2{
  font-weight: normal;
  color: #000;
  font-size: 18px;
  margin: 10px 0;
}
div#your_shopping_column a.checkout_link {
  display: block;
  text-align: right;
  margin-bottom: 1ex;
}
div#your_shopping_column h3 {
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 1ex;
  color: #333;
  font-size: 14px;
}
div#your_shopping_column div.cart_item_added {
  border: 1px solid #cecece;
  margin-top: 1ex;
  margin-bottom: 0;
  padding: 1em;
}
div#your_shopping_column h5 {
  font-size: 12px;
  color: #333;
  margin: 20px 10px 5px 10px;
}
div.item_in_cart {
  margin: 10px;
}
div#right_column_subtotal {
  font-weight: bold;
  color: #333;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 1em;
}
div#right_column_subtotal span{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
}
img#total_values_rating {
  display: block;
  margin: 10px 0;
}
div.in_cart_quantity {
  position: relative;
  margin: 5px 0;
}
div.in_cart_quantity span{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
h6 {
  font-size: 100%;
  color: #666;
  margin: 0 10px;
  margin-top: 1em;
}
h6 strong {
  color: #333;
}
div#right_column_cart .margin_me {
  margin: 0 10px;
}


/* CART PAGE STYLES ---------------------------------------------- */
div#cart_pg_top h2{
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  color: #666666;
}
div#cart_pg_top h3{
  font-size: 14px;
  background: none;
  padding: 0;
  color: #666666;
}
div#cart_pg_top h3 span{
  color: #000;
}
div#learn_amazon{
  margin-bottom: 10px;
  font-size: 12px;
  color: #666666;
}
div#learn_amazon a{
  color: #666666;
}
div#cart_continue {
  background: #ddf8cc;
  padding: 10px;
}
div#cart_continue img.continue_checkout{
  margin-left: 200px;
  vertical-align: middle;
}
table.items_in_cart {
  margin-top: 0;
  font-size: 12px;
}
table.items_in_cart th{
  color: #fff;
  background: #090;
  padding: 5px 10px;
}
tr.cart_item td {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
tr.cart_item_last td {
  border-bottom: 1px solid #090;
  padding-bottom: 10px;
}
td.item_cart_image {
  width: 95px;
}
td.item_stats {
  width: 255px;
}
td.price_quantity {
  width: 200px;
}
td.price_quantity h4 {
  color: #090;
  font-size: 12px;
  margin: 10px 0 5px 0;
}
td.price_quantity table {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}
td.price_quantity table td{
  border-bottom: none;
  padding-bottom: 0;
}
td.enter_quantity {
  padding: 0 15px 0 5px;
}
td.enter_quantity input {
  width: 20px;
}
tr#cart_items_footer {
  background: #efefef;
}
tr#cart_items_footer td{
  padding: 10px 0;
}
td.total_values, td.cart_subtotal {
  font-weight: bold;
}
td.total_values img {
  display: block;
  margin-top: 10px;
}
td.cart_subtotal {
}
td.cart_subtotal input.update {
  float: right;
  margin-right: 10px;
}
td.cart_subtotal span{
  display: block;
  color: #090;
  font-size: 13px;
  margin-top: 5px;
}
div#cart_wrapup {
  clear: both;
  font-size: 12px;
}
div#cart_wrapup img.continue_checkout{
  margin: 10px 0 0 360px;
}
div#cart_wrapup h4{
  margin-bottom: 0;
  color: #666666;
  font-size: 14px;
}

/* REGISTER PAGE STYLES ---------------------------------------------- */
div#register h2{
  font-size: 16px;
  padding-bottom: 5px;
  color: #666666;
}
div#register table{
  font-size: 11px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}
div#register td{
  padding: 5px;
}
div#register td.right_align{
  width: 125px;
}
div#register input.register_long{
  width: 150px;
}
div#register input.register_short{
  width: 75px;
}
h2.highlight {
  background: #efefef;
  color: #666666;
  padding: 5px 10px 5px 12px;
  margin: 10px 5px 5px 5px;
  font-size: 12px;
}

/* SEARCH PAGE ----------------------------------------------------- */
.round_box_hack_top {
  background-image: url(/images/cecece.gif);
  background-repeat: repeat-x;
  background-position: top left;
  margin: 1em 0;
}
.round_box_hack_right {
  background-image: url(/images/cecece.gif);
  background-repeat: repeat-y;
  background-position: top right;
}
.round_box_hack_bottom {
  background-image: url(/images/cecece.gif);
  background-repeat: repeat-x;
  background-position: bottom left;
}
.round_box_hack_left {
  background-image: url(/images/cecece.gif);
  background-repeat: repeat-y;
  background-position: top left;
}
.round_box_hack_tl {
  background-image: url(/images/cecece_tl.gif);
  background-repeat: no-repeat;
  background-position: top left;
}
.round_box_hack_tr {
  background-image: url(/images/cecece_tr.gif);
  background-repeat: no-repeat;
  background-position: top right;
}
.round_box_hack_br {
  background-image: url(/images/cecece_br.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.round_box_hack_bl {
  background-image: url(/images/cecece_bl.gif);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 5px;
}
div#search_results_page div#left_column h4.anomalous {
  background-color: transparent;
  display: block;
  margin: 0 6px;
  padding: 12px;
}
div#left_column .round_box_hack_top {
  margin-top: 0;
}
div#search_results_page div#mid_right_column_wrap h3 {
  background-color: transparent;
  margin-left: 0;
  padding-left: 0;
}
div#search_results_page div#mid_right_column_wrap h4 {
  background: #efefef;
  color: #666666;
}
div#search_results_page div#mid_right_column_wrap h4 {
  display: block;
  margin: 6px;
  padding: 0;
}
div#search_results_page div#mid_right_column_wrap h4 span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
div#search_results_page div#mid_right_column_wrap h4 a {
  float: right;
  font-size: inherit;
  font-weight: normal;
  padding-right: 1em;
}
div#search_results_page .company,
div#search_results_page .price {
  font-weight: bold;
}
div#search_results_page .company,
div#search_results_page .availability {
  font-size: 76%;
}
div#search_results_page .company {
  color: #090;
}

/* the content pages... --------------- */
div.content div#left_column {
  padding-top: 10px;
}
div.content div#left_column div.round_box_hack_tr {
  padding-top: 2px;
}
div.content div#mid_right_column_wrap h1,
div.content div#mid_right_column_wrap h2,
div.content div#mid_right_column_wrap h3 {
  font-weight: bold;
  margin-bottom: 0.5ex;
  margin-left: 10px;
}
div.content div#mid_right_column_wrap h1 {
  font-size: 133%;
  color: #000;
}
div.content div#mid_right_column_wrap h2 {
  font-size: 133%;
  color: #666;
}
div.content div#mid_right_column_wrap h3 {
  font-size: 100%;
  color: #369;
}
table.contacts {
  margin-top: 1em;
  border-bottom: 1px solid #ccc;
}
table.contacts td {
  vertical-align: top;
  padding: 1ex;
  border-top: 1px solid #ccc;
}
span.alo,
span.novo {
  font-weight: bold;
}
span.alo {
  color: #96f;
}
span.novo {
  color: #393;
}

/* popup */
#popupContainer {
  text-align: center;
}
#popupContainer p.nav a:link,
#popupContainer p.nav a:visited {
  color: #555;
}
#popupContainer div.round_box_hack_top {
  width: 300px;
  margin: 1em auto;
}
#popupContainer ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}
#popupContainer ul li {
  display: inline;
  padding: 1ex;
  margin: 0;
}
#popupContainer ul li span {
  white-space: nowrap;
}
#popupContainer ul li img {
  vertical-align: middle;
}

/* overriding earlier stuff */
.price_disclaimer {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
.price {
  color: #069;
}
.my_values {
  color: #090;
}
span.light {
  font-weight: normal;
}
  
/* vim: set ts=2 sw=2 et : */
